/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  height: 18000px;
}

#World {
  position: fixed;
  top: -20vw;
  left: -450vw;
  width: 1000vw;
  height: 1000vw;
  z-index: 0;
}
#Flags {
  position: fixed;
  top: -20vw;
  left: -450vw;
  width: 1000vw;
  height: 1000vw;
  z-index: 3;
}

#Water {
  position: fixed;
  top: -20vw;
  left: -450vw;
  width: 1000vw;
  height: 1000vw;
  z-index: 5;
  animation-name: water;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#Water2MiniMe {
  position: fixed;
  top: -20vw;
  left: -450vw;
  width: 1000vw;
  height: 1000vw;
  z-index: 10;
  animation-name: water2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#Water3 {
  position: fixed;
  top: -20vw;
  left: -450vw;
  width: 1000vw;
  height: 1000vw;
  z-index: 15;
  animation-name: water3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#Water4 {
  position: fixed;
  top: -20vw;
  left: -450vw;
  width: 1000vw;
  height: 1000vw;
  z-index: 20;
  animation-name: water4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#Water5 {
  position: fixed;
  top: -20vw;
  left: -450vw;
  width: 1000vw;
  height: 1000vw;
  z-index: 25;
  animation-name: water5;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#Sky {
  position: fixed;
  top: -20vw;
  left: -450vw;
  width: 1000vw;
  height: 1000vw;
  z-index: -25;
}
#Clouds {
  position: fixed;
  top: -20vw;
  left: -450vw;
  width: 1000vw;
  height: 1000vw;
  z-index: -5;
  animation-name: cloud;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#Clouds2 {
  position: fixed;
  top: -20vw;
  left: -450vw;
  width: 1000vw;
  height: 1000vw;
  z-index: -10;
  animation-name: cloud2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#Clouds3 {
  position: fixed;
  top: -20vw;
  left: -450vw;
  width: 1000vw;
  height: 1000vw;
  z-index: -15;
  animation-name: cloud3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#Clouds4 {
  position: fixed;
  top: -20vw;
  left: -450vw;
  width: 1000vw;
  height: 1000vw;
  z-index: -20;
  animation-name: cloud4;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media only screen and (min-width: 1200px) {
  #World {
    position: fixed;
    top: -10vw;
    left: -200vw;
    width: 500vw;
    height: 500vw;
    z-index: 0;
  }
  #Flags {
    position: fixed;
    top: -10vw;
    left: -200vw;
    width: 500vw;
    height: 500vw;
    z-index: 3;
  }
  #Water {
    position: fixed;
    top: -5vw;
    left: -200vw;
    width: 500vw;
    height: 500vw;
    z-index: 5;
    animation-name: water;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  #Water2MiniMe {
    position: fixed;
    top: -5vw;
    left: -200vw;
    width: 500vw;
    height: 500vw;
    z-index: 10;
    animation-name: water2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  #Water3 {
    position: fixed;
    top: -5vw;
    left: -200vw;
    width: 500vw;
    height: 500vw;
    z-index: 15;
    animation-name: water3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  #Water4 {
    position: fixed;
    top: -5vw;
    left: -200vw;
    width: 500vw;
    height: 500vw;
    z-index: 20;
    animation-name: water4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  #Water5 {
    position: fixed;
    top: -5vw;
    left: -200vw;
    width: 500vw;
    height: 500vw;
    z-index: 25;
    animation-name: water5;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
}

@media only screen and (min-width: 1200px) {
  #Sky {
    position: fixed;
    top: -10vw;
    left: -200vw;
    width: 500vw;
    height: 500vw;
    z-index: -25;
  }
}

@media only screen and (min-width: 600px) {
  #World {
    position: fixed;
    top: -10vw;
    left: -225vw;
    width: 550vw;
    height: 550vw;
  }
}

@media only screen and (orientation: portrait) {
  #Alert {
    visibility: visible;
    height: auto;
    width: auto;
    background: blue;
  }
}
@keyframes water {
  0 {
    transform: rotate(0.5deg)
  }

  50% {
    transform: rotate(-0.5deg)
  }
}

@keyframes water2 {
  0 {
    transform: rotate(-0.5deg)
  }

  50% {
    transform: rotate(0.5deg)
  }
}
@keyframes water3 {
  0 {
    transform: rotate(0.75deg)
  }

  50% {
    transform: rotate(-0.75deg)
  }
}

@keyframes water4 {
  0 {
    transform: rotate(-1deg)
  }

  50% {
    transform: rotate(1deg)
  }
}
@keyframes water5 {
  0 {
    transform: rotate(1deg)
  }

  50% {
    transform: rotate(-1deg)
  }
}
@keyframes cloud {
  0 {
  }
  25% {
    transform: translateX(-5px)
  }
  50% {
    transform: translate(-5px,5px);
  }
  75% {
    transform: translateY(5px)
  }
}
@keyframes cloud2 {
  0 {
  }
  25% {
    transform: translateX(4px)
  }
  50% {
    transform: translate(4px,-4px);
  }
  75% {
    transform: translateY(-4px)
  }
}
@keyframes cloud3 {
  0 {
  }
  25% {
    transform: translateX(-3px)
  }
  50% {
    transform: translate(-3px,3px);
  }
  75% {
    transform: translateY(3px)
  }
}
@keyframes cloud4 {
  0 {
  }
  25% {
    transform: translateX(2px)
  }
  50% {
    transform: translate(2px,-2px);
  }
  75% {
    transform: translateY(-2px)
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 19; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 21;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
